<app-menu></app-menu>

<ion-header  class="ion-no-padding ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <div class="bg-default">
      <header class="">
        <div class="first-row">
          <!-- Menu button -->
          <ion-menu-toggle>
            <button type="button" class="btn_menu">
              <ion-icon name="menu" color="light" aria-hidden="true" aria-label="Menu" size="large"></ion-icon>
            </button>
          </ion-menu-toggle>
  
          <!-- Logo -->
          <div class="">
            <img src="assets/imgs/usinaDoCorpo.png" alt="Usina do corpo" height="45px">
          </div>
  
          <!-- Notification -->
          <app-notifications></app-notifications>
        </div>
  
        <div class="second-row">
          <app-perfil></app-perfil>
        </div>
  
        <div class="third-row">
          <app-nav></app-nav>
        </div>
      </header>
    </div>
  </ion-toolbar>
</ion-header>