.menu-toolbar {
  --background: var(--app-color-gray-750);
  --padding-start: 1.25rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

.menu-logo {
  display: block;
}

.menu-content {
  --background: var(--app-color-gray-800);
}

.menu-list {
  background: transparent;
  padding-top: 1rem;
}

.menu-item {
  --background: transparent;
  --color: var(--app-color-white);
  --border-radius: 1rem;
  margin: 0 0.75rem 0.25rem;
  font-weight: 500;

  ion-icon {
    margin-inline-end: 1rem;
    color: var(--app-color-orange);
  }
}
