/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
// @import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


:root {
    /**
     * Setting the variables for DEMO purposes only.
     * Values will be set automatically when building an iOS or Android app.
     */
    --ion-safe-area-top: 0;
    --ion-safe-area-bottom: 0;
    --ion-safe-area-left: 0;
    --ion-safe-area-right: 0;
}

// --ion-color-orange: #f07d07;
//   --ion-color-green: #7df0d3;
//   --ion-color-purple: #6a36e8;
//   --ion-color-gray-650: #161616;
//   --ion-color-gray-750: #202020;
//   --ion-color-gray-800: #090909;
//   --ion-color-white: #fff;
//   --ion-color-black: #040404;

ion-content {
    width: calc(100% + 15px);
    overflow: hidden !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    width: 90%;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}